.wp-block-woocommerce-checkout {
    padding: 0!important;
}

.wc-block-components-title.wc-block-components-title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.wc-block-components-order-summary__button-text {
    font-weight: 400;
}

.woocommerce-order,
.wc-block-components-sidebar-layout {
    margin-inline: auto;

    @media screen and (width >= 1024px) {
        inline-size: min(1160px, 100%);
        padding-inline: 16px;
    }
}

.wp-block-woocommerce-checkout-fields-block {

    @media screen and (width < 1024px) {
        padding-inline: 16px!important;
    }
}

.wp-block-woocommerce-checkout-order-summary-block {
    background: rgba(255, 255, 255, 0.8);
}

input {
    border: 2px solid #2D2D2D;
}

.wc-block-components-button:not(.is-link) {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    background-color: #DB1313;
}

.wc-block-components-express-payment--checkout .wc-block-components-express-payment__content {
    padding: 20px 0 0!important;
}

.wc-block-components-title .wc-block-components-express-payment__title {
    margin-bottom: 16px!important;
    position: static!important;
}

.wc-block-components-express-payment--checkout .wc-block-components-express-payment__content {
    border: none!important;
}

.wc-block-components-express-payment--checkout .wc-block-components-express-payment__title-container:before,
.wc-block-components-express-payment--checkout .wc-block-components-express-payment__title-container:after,
.wc-block-components-radio-control--highlight-checked.wc-block-components-radio-control--highlight-checked--last-selected:after {
    display: none!important;
}

.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option--checked-option-highlighted,
.wc-block-components-radio-control--highlight-checked label.wc-block-components-radio-control__option--checked-option-highlighted {
    box-shadow: unset!important;
}
