.article {
  width: 100%;
  font-size: 18px;
  line-height: 23px;

  > p{
    width: 97%;
    margin-bottom: 29px;

    a{
      color: #2F2E2B;
      text-decoration: underline;
    }

  }

  img{
    display: block;
    width: 100%;
  }

  h1{
    margin-bottom: 12px;
    @include ttfirsneue-bold;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: -.8px;
  }

  h2, h3, h4, h5, h6{
    margin: 41px 0 19px;
    @include ttfirsneue-regular;
    font-size: 30px;
    font-weight: normal;
    line-height: 39px;
  }

  ul, ol{
    margin: 29px 0 43px 12px;

    li:not(:last-child){
      margin-bottom: 8px;
    }

    li{
      position: relative;
      padding-left: 29px;

      &:before{
        content: '';
        position: absolute;
        top: calc( 50% - 1px );
        left: 0;
        height: 2px;
        width: 17px;
        background-color: $span;
      }

    }

  }

  blockquote{
    position: relative;
    margin: 52px 0 82px;

    &:after{
      position: absolute;
      left: 0;
      bottom: -45px;
      @include ttfirsneue-bold;
      color: #DB1313;
      font-size: 82px;
      line-height: 1;
      content: '“';
    }

    p:not(:last-child){
      margin-bottom: 38px;
      padding-right: 15px;
      @include ttfirsneue-bold;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: -1.1px;
    }

    p:last-child{
      position: relative;
      right: -3px;
      padding-left: 60px;
      @include ttfirsneue-regular;
      font-size: 17px;
      line-height: 22px;
      text-align: right;
    }

  }

  address{
    font-style: normal;
    line-height: 26px;
  }

}
@media (min-width: $phone-landscape) {
  .article {

  }
}
@media (min-width: $tablet-portrait) {
  .article {

    h1{
      position: relative;
      left: -6px;
      margin-bottom: 15px;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: -.9px;
    }

    > img {
      margin-top: 60px;
    }

    blockquote{
      margin: 82px 0 74px;

      &:after{
        bottom: -40px;
        left: 6px;
      }

      p:not(:last-child){
        margin-bottom: 50px;
        padding: 0 0 0 6px;
        font-size: 90px;
        line-height: 108px;
        letter-spacing: -1.8px;
      }

      p:last-child{
        padding: 0 100px 0 60px;
        font-size: 30px;
        line-height: 39px;
      }

    }

    article{
      margin-top: 52px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .article {

    > p{

      a{
        transition: color .3s ease;

        &:hover{
          color: #DB1313;
        }

      }

    }

  }
}
@media (min-width: $desktop) {
  .article {

  }
}