.control-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;

  &__btn{
    width: 39px;
    height: 24px;
    background: url(../);

    svg, img{
      display: block;
      width: inherit;
      height: inherit;
    }

  }

}
@media (min-width: $phone-landscape) {
  .control-view {

  }
}
@media (min-width: $tablet-portrait) {
  .control-view {

  }
}
@media (min-width: $tablet-landscape) {
  .control-view {
    display: none;

  }
}
@media (min-width: $desktop) {
  .control-view {

  }
}

