.loader {
  $delayRange: .4s;
  $spinkit-size: 40px;
  $spinkit-spinner-color: rgba(255,255,255,.1);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $spinkit-size;
  height: $spinkit-size;
  margin: auto;
  transform: translate(-50%, -50%);

  > hr {
    width: 33.3333%;
    height: 33.3333%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $spinkit-spinner-color;
    animation: sk-cube-grid-scale-delay 1.3s infinite ease-in-out;

    &:nth-child(1){animation-delay: ($delayRange * .50)}
    &:nth-child(2){animation-delay: ($delayRange * .75)}
    &:nth-child(3){animation-delay: ($delayRange)}
    &:nth-child(4){animation-delay: ($delayRange * .25)}
    &:nth-child(5){animation-delay: ($delayRange * .50)}
    &:nth-child(6){animation-delay: ($delayRange * .75)}
    &:nth-child(7){animation-delay: (0s)}
    &:nth-child(8){animation-delay: ($delayRange * .25)}
    &:nth-child(9){animation-delay: ($delayRange * .50)}

  }
}