.objects-list {
  position: relative;
  top: 180px;

  &__layout{
    height: 100%;
    overflow: hidden;
    transition: opacity .3s ease;
  }

  &__scroll{
    position: relative;
    height: 100%;
    overflow: hidden;

    &.ps{
      padding-right: 22px;
    }

    &.ps--active-y .ps__rail-y{
      visibility: visible;
    }

    .ps__rail-y{
      position: absolute;
      right: 0;
      width: 14px;
      visibility: hidden;
      z-index: 2;
      border-radius: 6px;
      background-color: #CFCEC9;

      .ps__thumb-y{
        position: absolute;
        right: 2px;
        width: 10px;
        cursor: pointer;

        &:before{
          position: absolute;
          top: 2px;
          left: 0;
          width: 100%;
          height: calc( 100% - 4px );
          border-radius: 6px;
          background-color: #9B9B97;
          content: '';
        }

      }

    }

  }

  &__item{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
    background-color: #F2F0EC;
    transition: opacity .3s ease;

    &.is-new{
      opacity: 0;
    }

  }

  &__picture{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 140px;
    overflow: hidden;
    background-color: #2D2D2D;

    img{
      display: block;
      position: relative;
      height: 140px;
      z-index: 1;
    }

  }

  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc( 100% - 100px );
    padding: 11px 14px 10px;
    color: #2D2D2D;
    font-size: 16px;
    line-height: 21px;

    h2, h3, h4{
      max-height: 47px;
      margin-bottom: 2px;
      color: #000;
      @include ttfirsneue-medium;
      font-size: 18px;
      line-height: 23px;
      overflow: hidden;
    }

    strong{
      @include ttfirsneue-medium;
    }

    address{
      position: relative;
      font-style: normal;

      p{
        max-height: 43px;
        overflow: hidden;
      }

    }

  }

  .loader{
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;

    > hr{
      background-color: rgba(255,255,255,.7);
    }

  }

  &.is-loading{

    .loader{
      opacity: 1;
      visibility: visible;
    }

    .objects-list__layout{
      opacity: .6;
    }

  }

}
@media (min-width: $phone-landscape) {
  .objects-list {

  }
}
@media (max-width: $tablet-portrait - 1) {
  .objects-list {

  }
}
@media (min-width: $tablet-portrait) {
  .objects-list {
    top: 258px;

  }
}
@media (max-width: $tablet-landscape - 1) {
  .objects-list {
    position: fixed;
    left: 0;
    bottom: 180px;
    width: 100%;
    padding: 0 16px;
    background-color: inherit;
    visibility: hidden;
    opacity: 0;
    transition: bottom .3s ease, visibility .3s ease, opacity .3s ease;

    &__header{
      display: none;
    }

    &.is-show{
      bottom: 0;
      visibility: visible;
      opacity: 1;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .objects-list {
    top: auto;
    //height: calc( 100% - 191px );
    height: calc( 100% - 132px );

    &__header{
      margin-bottom: 22px;
      font-size: 18px;
    }

    &__layout{
      width: calc( 100% + 29px );
      margin-left: -7px;
    }

    &__scroll{
      padding: 0 24px 0 7px;
    }

    &__item {
      transition: box-shadow .3s ease, background-color .3s ease, opacity .3s ease;

      .objects-list__info {

        h2, h3, h4, strong{
          transition: color .3s ease;
        }

      }

      &:hover{
        background-color: #F5F4F1;
        box-shadow: 0 6px 12px rgba(0,0,0,.12);

        .objects-list__info{

          h2, h3, h4{
            color: #DB1313;
          }

        }

      }

    }

  }
}
@media (min-width: $desktop) {
  .objects-list {

  }
}