.objects-list {
  top: 180px;

  &__layout{
    height: 100%;
    overflow-y: auto;
  }

  &__item{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
    background-color: #F5F4F1;
  }

  &__picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 140px;
    overflow: hidden;
    background-color: #2D2D2D;

    img{
      display: block;
      height: 140px;
    }

  }

  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc( 100% - 100px );
    padding: 11px 14px 10px;
    color: #2D2D2D;
    font-size: 16px;
    line-height: 21px;

    h2, h3, h4{
      max-height: 47px;
      margin-bottom: 2px;
      color: #000;
      @include ttfirsneue-medium;
      font-size: 18px;
      line-height: 23px;
      overflow: hidden;
    }

    strong{
      @include ttfirsneue-medium;
    }

    address{
      position: relative;
      font-style: normal;

      p{
        max-height: 43px;
        overflow: hidden;
      }

    }

  }

}
@media (min-width: $phone-landscape) {
  .objects-list {

  }
}
@media (max-width: $tablet-portrait - 1) {
  .objects-list {

  }
}
@media (min-width: $tablet-portrait) {
  .objects-list {
    top: 258px;

  }
}
@media (max-width: $tablet-landscape - 1) {
  .objects-list {
    position: fixed;
    left: 0;
    bottom: 180px;
    width: 100%;
    padding: 0 16px;
    background-color: inherit;
    visibility: hidden;
    opacity: 0;
    transition: bottom .3s ease, visibility .3s ease, opacity .3s ease;

    &__header{
      display: none;
    }

    &.is-show{
      bottom: 0;
      visibility: visible;
      opacity: 1;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .objects-list {
    top: auto;
    height: calc( 100% - 191px );

    &__header{
      margin-bottom: 22px;
      font-size: 18px;
    }

    &__layout{
      height: calc( 100% - 40px );
    }

  }
}
@media (min-width: $desktop) {
  .objects-list {

  }
}

