@font-face {
  font-family: "TTFirsNeue-Regular";
  src: url("../fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue-Medium";
  src: url("../fonts/TTFirsNeue-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue-Bold";
  src: url("../fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue-Black";
  src: url("../fonts/TTFirsNeue-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
