parameters:
    level: 5
    paths:
        - inc
        - functions.php
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
        - phpstan-stubs/wp-graphql-jwt-authentication.php
    excludePaths:
        - phpstan-stubs/*
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
